body {
  background: white;
  color: black;
  font-size: 87.5%; /* Base font size: 14px */
  font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.429;
  margin: 0;
  padding: 0;
  text-align: left;
}

h1 {font-size: 1.714em}
h2 {font-size: 1.571em}  /* 22px */
h3 {font-size: 1.429em}  /* 20px */
h4 {font-size: 1.286em}  /* 18px */
h5 {font-size: 1.143em}  /* 16px */
h6 {font-size: 1em}  /* 14px */

h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .8em;
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
  color: #C74350;
  padding: 0 1px;
  text-decoration: underline;
}
a:hover, a:active {
  background-color: #C74350;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
  list-style: outside disc;
  margin: 1em 0 1.5em 1.5em;
}

ol {
  list-style: outside decimal;
  margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Quotes */
blockquote {font-style: italic;}
cite {}

q {}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

thead th {padding: .5em .4em; text-align: left;}
thead td {}

tbody td {padding: .5em .4em;}
tbody th {}

tbody .alt td {}
tbody .alt th {}

tfoot th {}
tfoot td {}

#header {
  margin: 0 auto;
  padding: 2.5em 0 0 0;
}

#header h1 {font-size: 3.571em; line-height: .6;}
#header h1 a:link, #header h1 a:visited {
  color: #000305;
  display: block;
  font-weight: bold;
  margin: 0 0 .6em .2em;
  text-decoration: none;
  width: 427px;
}
#header h1 a:hover, #header h1 a:active {
  background: none;
  color: #C74350;
  text-shadow: none;
}

#title-erl {
  color: blue;
}

#title-port {
  color: green;
}

#title-desc {
  font-size: 0.36em;
  font-weight: normal;
}

#header nav {
  background: #000305;
  font-size: 1.143em;
  height: 40px;
  line-height: 30px;
  margin: 0 auto 2em auto;
  padding: 0;
  text-align: center;
}

#header nav ul {list-style: none; margin: 0 auto; width: 940px;}
#header nav li {float: left; display: inline; margin: 0;}

#header nav a:link, #header nav a:visited {
  color: #fff;
  display: inline-block;
  height: 30px;
  padding: 5px 1.5em;
  text-decoration: none;
}
#header nav a:hover, #header nav a:active,
#header nav .active a:link, #header nav .active a:visited {
  background: #C74451;
  color: #fff;
  text-shadow: none !important;
}

#header nav li:first-child a {
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;

  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

.document {
  clear: both;
  margin: 0 auto;
  width: 940px;
}

.section {
  width: 450px;
}

.sidebar {
  clear: right;
  float: right;
  margin: 0 0 1em 1em;
  padding: 0 0 1em 1em;
}
