body {
    font-family: sans-serif;
    text-align: center;
}

.document {
    text-align: left;
    margin: 0 auto;
    padding: 0;
    width: 990px;
}

#title {
    text-align: center;
    font-size: 250%;
    color: #333;
    border: 0;
    border-bottom: solid 7px #050;
    padding: 0 0 0.5em 0;
    margin-bottom: 0;
}

p {
    margin: 1em 1em;
}

#menu {
    text-align: center;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    background-color: #00b;
}

#menu li {
    display: inline;
    margin-right: 3em;
}

#menu li#gplus {
    margin-right: 1em;
}

#menu li a {
    text-decoration: none;
    font-size: 200%;
    font-weight: bold;
    color: #edf;
}

#menu li a:hover {
    color: white;
}

h1 {
    color: #333;
    padding-left: 10px;
    border-left: 1em solid #00b;
}

ul {
    list-style-type: square;
}

#about {
    margin: 1em 0;
    padding-top: 0;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 0 1em 1em 1em;
    margin-left: 1em;
    background: url("r_down_right.png") right bottom scroll no-repeat #cfc;
    border-left: 7px solid #050;
}

pre {
    border-left: 7px solid #050;
    margin: 0 4em 0 2em;
    padding: 1em 2em;
    background: #eee;
}

.sourcecode .c {
    color: #888;
}

.sourcecode .nf, .sourcecode .nb {
    color: #800000;
}

.sourcecode .ni, .sourcecode .kn, .sourcecode .k, .sourcecode .o {
    font-weight: bold;
    color: #008000;
}

.sourcecode .s, .sourcecode .si {
    color: #f00;
}

.sourcecode .mi {
    color: #00f;
}

.date {
    text-align: right;
    margin: 1em;
    font-size: 80%;
    font-style: italic;
}

#footer {
    clear: both;
    margin-top: 1em;
    padding: 0.4em;
    text-align: right;
    background-color: #cfc;
    border-top: 7px solid #050;
}

#footer li {
    display: inline;
    margin-left: 1em;
    font-weight: bold;
    border-left: 3px solid #050;
    padding-left: 1em;
}

#footer li a {
    color: #666;
    text-decoration: none;
}

#footer li a:hover {
    color: #333;
}

.align-right {
    float: right;
    margin: 1em 0 1em 1em;
}

table {
    border: 1px solid #aaa;
}

table td, table th {
    padding: 0.5em 1em;
    border: 1px solid #aaa;
}
