<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    {% block headers %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="keywords" content="erlport erlang python ruby" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    <!--[if lte IE 6]>
      <link rel="stylesheet"
        href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css"
        media="screen, projection">
    <![endif]-->
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
